.layer1 {
  color: #000;
  display: block;
  font-family: Helvetica, sans-serif;
  font-size: 50px;
  font-weight: bold;
  line-height: 1;
  height: auto;
  width: auto;
}

.layer2 {
  color: #000;
  display: block;
  font-family: Helvetica, sans-serif;
  font-size: 50px;
  font-weight: bold;
  line-height: 1;
  height: auto;
  width: auto;
}

.layer3 {
  color: #000;
  display: block;
  font-family: Helvetica, sans-serif;
  font-size: 50px;
  font-weight: bold;
  line-height: 1;
  height: auto;
  width: auto;
}

.layer4 {
  color: #000;
  display: block;
  font-family: Helvetica, sans-serif;
  font-size: 50px;
  font-weight: bold;
  line-height: 1;
  height: auto;
  width: auto;
}

.layer5 {
  color: #000;
  display: block;
  font-family: Helvetica, sans-serif;
  font-size: 50px;
  font-weight: bold;
  line-height: 1;
  height: auto;
  width: auto;
}

.layer6 {
  color: #000;
  display: block;
  font-family: Helvetica, sans-serif;
  font-size: 50px;
  font-weight: bold;
  line-height: 1;
  height: auto;
  width: auto;
}

.layer7 {
  color: #000;
  display: block;
  font-family: Helvetica, sans-serif;
  font-size: 50px;
  font-weight: bold;
  line-height: 1;
  height: auto;
  width: auto;
}
.layer8 {
  color: #000;
  display: block;
  font-family: Helvetica, sans-serif;
  font-size: 50px;
  font-weight: bold;
  line-height: 1;
  height: auto;
  width: auto;
}
.layer9 {
  color: #000;
  display: block;
  font-family: Helvetica, sans-serif;
  font-size: 50px;
  font-weight: bold;
  line-height: 1;
  height: auto;
  width: auto;
}
.layer10 {
  color: #000;
  display: block;
  font-family: Helvetica, sans-serif;
  font-size: 50px;
  font-weight: bold;
  line-height: 1;
  height: auto;
  width: auto;
}
